.easter_btn{
  float:left;
  margin-bottom: auto;
}
.MyModal {
  background: rgba(255, 255, 255, 0.25);
  left: 0;
  top: 0;
  animation-name: modalFade;
  animation-duration: .6s;
}
.MyModal .content {
  color: black;
  background: white;
  padding: 1rem;
  min-height: 620px;
  min-width: 300px;
  position: relative;
}
.content{
}

@keyframes modalFade {
  from {transform: scale(0.1);opacity: 0;}
  to {transform: scale(1.0);opacity: 1;}
}

.bonodiv{
  position: absolute;
}
.menu{
  min-width: 300px;
}
.closebtn{
  left:150px;
  bottom:0px;
  position: absolute;
}
iframe{
  margin-top:15px; 
  border:0px;
  min-height: 520px;
  min-width: 300px;
  overflow: hidden;
}