@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
  
.publicationContent{
    font-family: 'Economica', sans-serif;  
    #h1{
        font-family: 'Economica', sans-serif; 
        color: aliceblue;
    }
    .publications{
        .publication{
            border-bottom: black 1px solid;
            padding: 5px;
            background-color: #353C42;
            .alink{
                color: aliceblue;
                font-size: 20px;
            }
        }
    }
    .buttondiv{
      .button_slide{
        background:#353C42;
        color:#fff;
        border:none;
        position:relative;
        height:60px;
        font-size:1.6em;
        padding:0 2em;
        cursor:pointer;
        transition:800ms ease all;
        outline:none;
      }
      .button_slide:hover{
        background:#fff;
        color:#1AAB8A;
      }
      .button_slide:before,.button_slide:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #1AAB8A;
        transition:400ms ease all;
      }
      .button_slide:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
      }
      .button_slide:hover:before,.button_slide:hover:after{
        width:100%;
        transition:800ms ease all;
      }
    }
}
