.box{
    cursor:pointer;
    background-color: #353C42;
    border-radius: 10px;
    padding: 7px;
    color: aliceblue;
    width: 70%;
    font-family: Verdana, Tahoma, sans-serif;

    .boxContent{
      padding-left :5px;
        margin-top:10px;
        color: black;
        border-collapse: collapse;
        border: 1px #353C42 solid;
        background-color: aliceblue;
        font-family: Tahoma,Arial,sans-serif;
        border-radius: 10px;
    }
}
