.box{
    background-color: white;
    border: 1px black solid;
    width: 80%;
    font-family: Verdana, Tahoma, sans-serif;
    .boxContent{
        border-collapse: collapse;
        border: 1px black solid;
        background-color: rgb(150, 91, 91);
    }
}