.box{
    background-color: rgb(211, 237, 245);
    border: 1px black solid;
    width: 70%;
    font-family: Verdana, Tahoma, sans-serif;
    .boxContent{
        border-collapse: collapse;
        border: 1px black solid;
        background-color:wheat;
        font-family: Tahoma,Arial,sans-serif;
    }
}
