.main{
    .logo{
        width: 80%;
        position: relative;
        float: right;
        transition: 0.5s ease;
        &:hover{
            transform: translateY(-20px);
            transform-style: flat;
        }
    }
    .content{
        padding-top:10%;
        clear: right;
        .course{
            float: left;
            width: 20vh;
            height: 20vh;
            
            .button{
                background-color: yellow;
            }
        }
        .notice{
            float: right;
            width: 100vh;
            height: 20vh;
            margin-left : -50px;
            padding-left : 50px;
            box-sizing : border-box;
            
        }
    }
    
}
