@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700);

.home{
        img{
            margin-top: 5%;
            width:40vw;
        }
        img:hover{
            filter: brightness(1.5);
        }
    .login{
        overflow: hidden;
        width: 34%;
        height: 40vh;
        background-color: white;
        float: right;
        border-radius:5px;
        padding: 1%;
        .loginFont{
            font-weight: 800;
            font-size: 40px;
            font-family: serif;
        }
        input[type="text"],
        input[type="password"]{
            margin-top: 10px;
            width: 95%;
            font-size: 30px;
            border-radius: 5px;
        }
        .buttons{
            margin-top: 30px;
            float: left;
            display: grid;
            clear: both;
            column-gap: 30px;
            .loginButton {
                width: 100%;
                grid-column: 1/4;
                cursor: pointer;
                float: right;
                margin-left: 10px;
                font-size: 40px;
                padding: 5px;
                background-color: greenyellow;
                border-radius: 15px;
                color: white;
                &:hover{
                    background-color: cadetblue;
                }
            }
            .signup{
                grid-column: 5/10;
                width: 100%;
                cursor: pointer;
                font-size: 40px;
                padding: 5px;
                background-color: greenyellow;
                border-radius: 15px;
                color: white;
                &:hover{
                    background-color: cadetblue;
                }
            }
        }
    }
    .logined{
        overflow: hidden;
        width: 34%;
        height: 40vh;
        background-color: white;
        float: right;
        border-radius:5px;
        padding: 1%;
        p{
            font-size: 12pt;
        }
        .logoutButton {
            width: 9vw;
            grid-column: 1/4;
            cursor: pointer;
            float: right;
            margin-left: 10px;
            font-size: 40px;
            padding: 5px;
            background-color: greenyellow;
            border-radius: 15px;
            color: white;
            &:hover{
                background-color: cadetblue;
            }
        }
        .Mail{
            float: left;
            cursor: pointer;
            img{
                width: 30px;
            }
            &:hover{
                filter: drop-shadow(3);
            }
        }
        .messages{
            border-radius: 10px;
            height: 220px;
            margin-top: 50px;
            background-color: #5486d8;
            padding: 10px;
            .recent{
                border-radius: 5px;
                padding: 5px;
                background-color: gray;
                text-align: center;
                color: white;
                margin-bottom: 20px;
            }
            .name{
                color: white;
                background-color: rgb(150, 199, 76);
                margin-right: 10px;
                font-size: 13pt;
            }
            .time{
                float: right;
                font-weight: bold;
            }
            .message{
                border-radius: 5px;
                width: 5px;
                padding: 3px;
                margin-top: 5px;
                background-color: white;
                width: 100%;
            }
        }
    }
}

