@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700);

.home{
        img{
            margin-top: 5%;
            width:40vw;
        }
        img:hover{
            filter: brightness(1.5);
        }
    .login{
        overflow: hidden;
        width: 34%;

        -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
        background-color: aliceblue;
        float: right;
        border-radius:5px;
        padding: 1%;
        .loginFont{
            font-family: 'Economica', sans-serif;
            font-weight: 800;
            font-size: 40px;
            color:black;
        }
        input[type="text"],
        input[type="password"]{
            background-color: white;
            margin-top: 10px;
            width: 95%;
            font-size: 30px;
            border-radius: 5px;
        }
        .buttons{
            float: left;
            display: grid;
            clear: both;
            column-gap: 30px;

            .loginbutton{
              border-radius: 5px;
              margin-left: 9vw;
              margin-top: 2vw;
              text-align: center;
              background:#353C42;
              color:#fff;
              border:none;
              position:relative;
              height:5vh;
              width:12vw;
              font-size:1.2vw;
              padding-top:10px;
              cursor:pointer;
              transition:800ms ease all;
              outline:none;
            }
            .loginbutton:hover{
              background:#353C42;
              color:#85B8CB;
            }
            .loginbutton:before,.loginbutton:after{
              content:'';
              position:absolute;
              top:0;
              right:0;
              height:2px;
              width:0;
              background: #85B8CB;
              transition:400ms ease all;
            }
            .loginbutton:after{
              right:inherit;
              top:inherit;
              left:0;
              bottom:0;
            }
            .loginbutton:hover:before,.loginbutton:hover:after{
              width:100%;
              transition:800ms ease all;
            }

            }
        }

    .logined{
        overflow: hidden;
        width: 34%;
        height: 40vh;
        background-color: white;
        float: right;
        border-radius:5px;
        padding: 1%;
        p{
            font-size: 12pt;
        }
        .logoutButton{
          border-radius: 5px;
          float:right;
          text-align: center;
          background:#353C42;
          color:#fff;
          border:none;
          position:relative;
          height:5vh;
          width:9vw;
          font-size:1.2vw;
          padding-top:10px;
          cursor:pointer;
          transition:800ms ease all;
          outline:none;
        }
        .logoutbutton:hover{
          background:#353C42;
          color:#85B8CB;
        }
        .logoutbutton:before,.logoutbutton:after{
          content:'';
          position:absolute;
          top:0;
          right:0;
          height:2px;
          width:0;
          background: #85B8CB;
          transition:400ms ease all;
        }
        .logoutbutton:after{
          right:inherit;
          top:inherit;
          left:0;
          bottom:0;
        }
        .logoutbutton:hover:before,.logoutbutton:hover:after{
          width:100%;
          transition:800ms ease all;
        }
        .Mail{
            float: left;
            cursor: pointer;
            img{
                width: 30px;
            }
            &:hover{
                filter: drop-shadow(3);
            }
        }
        .messages{
            border-radius: 10px;
            height: 220px;
            margin-top: 50px;
            background-color: #5486d8;
            padding: 10px;
            .recent{
                border-radius: 5px;
                padding: 5px;
                background-color: gray;
                text-align: center;
                color: white;
                margin-bottom: 20px;
            }
            .name{
                color: white;
                background-color: rgb(150, 199, 76);
                margin-right: 10px;
                font-size: 13pt;
            }
            .time{
                float: right;
                font-weight: bold;
            }
            .message{
                border-radius: 5px;
                width: 5px;
                padding: 3px;
                margin-top: 5px;
                background-color: white;
                width: 100%;
            }
        }
}
}
