@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
img{
  width: 7%;
}
h1{
   color: #85B8CB;

}
ul li{
  color:#D1DDDB;
}

.tab1{
  position: absolute;
  left: 24vw;
  top:15vw;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 1;
}
.tab1:hover{
  transform: scale(1.3);
  opacity: 1;
}
.tab2{
  left: 27vw;
  top: 40vw;
  position: absolute;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 1;
}
.tab2:hover{
  transform: scale(1.3);
  opacity: 1;
}
.tab3{
  left: 46vw;
  top:1vw;
  position: absolute;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 1;
}
.tab3:hover{
  transform: scale(1.3);
  opacity: 1;
}
.tab4{
  left:68vw;
  top:17vw;
  position: absolute;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 1;
}
.tab4:hover{
  transform: scale(1.3);
  opacity: 1;
}
.tab5{
  left: 63vw;
  top: 38vw;
  position: absolute;
  transform: scale(1);
  transition: all 0.3s;
  opacity: 1;
}
.tab5:hover{
  transform: scale(1.3);
  opacity: 1;
}


.plot1{
  font-family: 'Economica', sans-serif;
  padding : 1vw;
  border-radius:25%;
  font-size: 1.2vw;
  position: absolute;
  left: 39vw;
  top: 18vw;
  background-color: #353C42;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);

}
.tab1 ~ .plot1{
  transform: scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.tab1:hover ~ .plot1{
  transform: scale(1);
  opacity: 1;
}


.plot2{
  font-family: 'Economica', sans-serif;
  padding : 1vw;
  border-radius:25%;
  font-size: 1.2vw;
  position: absolute;
  left: 37vw;
  top: 18vw;
  background-color: #353C42;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}
.tab2 ~ .plot2{
  transform: scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.tab2:hover ~ .plot2{
  transform: scale(1);
  opacity: 1;
}



.plot3{
  font-family: 'Economica', sans-serif;
  padding : 1vw;
  border-radius:25%;
  font-size: 1.2vw;
  position: absolute;
  left: 38vw;
  top: 17vw;
  background-color: #353C42;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}
.tab3 ~ .plot3{
  transform: scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.tab3:hover ~ .plot3{
  transform: scale(1);
  opacity: 1;
}

.plot4{
  font-family: 'Economica', sans-serif;
  padding : 1vw;
  border-radius:25%;
  font-size: 1.2vw;
  position: absolute;
  left: 36vw;
  top: 18vw;
  background-color: #353C42;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}
.tab4 ~ .plot4{
  transform: scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.tab4:hover ~ .plot4{
  transform: scale(1);
  opacity: 1;
}

.plot5{
  font-family: 'Economica', sans-serif;
  padding : 1vw;
  border-radius:25%;
  font-size: 1.2vw;
  position: absolute;
  left: 37vw;
  top: 16vw;
  background-color: #353C42;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}
.tab5 ~ .plot5{
  transform: scale(0);
  transition: all 0.3s;
  opacity: 0;
}

.tab5:hover ~ .plot5{
  transform: scale(1);
  opacity: 1;
}

.tab1 ~ .style{
  transform: scale(2);
  transition: all 0.3s;
  opacity: 1;
}
.tab1:hover ~ .style{
  transform: scale(0);
  opacity: 0;
}


.tab2 ~ .style{
  transform: scale(2);
  transition: all 0.3s;
  opacity: 1;
}
.tab2:hover ~ .style{
  transform: scale(0);
  opacity: 0;
}

.tab3 ~ .style{
  transform: scale(2);
  transition: all 0.3s;
  opacity: 1;
}
.tab3:hover ~ .style{
  transform: scale(0);
  opacity: 0;
}

.tab4 ~ .style{
  transform: scale(2);
  transition: all 0.3s;
  opacity: 1;
}
.tab4:hover ~ .style{
  transform: scale(0);
  opacity: 0;
}
.tab5 ~ .style{
  transform: scale(2);
  transition: all 0.3s;
  opacity: 1;
}
.tab5:hover ~ .style{
  transform: scale(0);
  opacity: 0;
}
.style {
    position: absolute;
    left: 42vw;
    top: 18vw;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    z-index: 5;
    display: block;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
}
.research{
  margin-top: 7vw;
  font-size: 1vw;
  font-family: 'Economica', sans-serif;
}
