.button {
    background-color: yellow;
    border: white;
}
.button:hover{
    background-color: blue;
}
.button:a

.bg{
    background-color: yellow;
}
.icon{
    transition: 0.5s ease;
    padding-bottom: 50px;
}
.icon:hover{
	transform-origin: center left; 
	padding-bottom: 30px;
	transform:scale(2,2);
}
