.Members {
    color:white;
    font-size: 60px;
}
.members {
	padding: 15px;
	color:white;
}
.position{
	color:white;
	font-size:25pt;
}

.popup{
	margin-bottom: auto; 
	background: white;
	float:right;
	margin-right: 0;
	overflow: hidden;
	border: 5px solid #3571B5;
}
.in{
	float:left;
	min-width: 400px;
	overflow: hidden;
}
.people{

}

.closebt{
	float: right;
	margin-bottom: auto; 
}

ul{
	padding-left: 20px;
}
.display{
	white-space: nowrap;
}
img{
	float: right;
	margin-bottom: auto; 
	overflow: hidden;
}