.root{
    position:'fixed';
    float: 'left';
    margin-left: 0;
    
}
.menuItem{
    color : #85B8CB;
    text-decoration: none;
    @import url(https://fonts.googleapis.com/css?family=Economica:400,700);
	font-family: 'Economica', sans-serif;
    .bigMenuItem{
        font-weight: bold;
        font-size: 18pt;
        margin-bottom: 15px;
        margin-left: 0;
        writing-mode: tb-rl;
        transition: .5s ease;
    }
    &:hover .bigMenuItem{
        background-color: rgba($color: #D1DDDB, $alpha: 0.5);
        border-radius: 5px;
        width: 100%;
        font-size: 35pt;
        transform-origin: 45% 45%;
        transform: rotate(-90deg) translateY(25%) translateX(40px);
        
        transition: .5s ease;
    }
    &:hover .long{
        transform: translateX(20px);
    }
   
}
.bonobono{
    width: 50px;
    height: 50px;
    float:left;
    margin-top: 800px;

}

