.root{
    position:'fixed';
    float: 'left';
    margin-left: 0;
    
}
.menuItem{
    text-decoration: none;
    font-size: 10pt;
    margin-bottom: 30px;
    margin-left: 0;
    writing-mode: tb-rl; 
}