@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

ul{
    list-style-type: none;
}

#course_list
{
    position: relative;
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    text-align: left;
    font-family: 'Economica', sans-serif;
    text-decoration: none;
}

#course_title
{
    font-family: 'Economica', sans-serif;
    color:white;
    font-size: 35pt;
}

#course_list:hover {
 color: red;
 }

 #course_list:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scale(0);
    transition: all 0.2s;
}



.line
{
    display:inline-block;
    border-left: 3px solid white;
    padding:30px;
}

.Course
{
    display: flex;
}

#course_content_title
{
    font-family: 'Economica', sans-serif;
    font-size: 28pt;
    color:rgb(133,184,203);
}

.Course div
{
    margin-top:70px;
    margin-bottom:0px;
    margin-left: 10px;
    margin-right: 10px;
    padding:5px;
    font-size:20px;
    text-align: center;
}

.Course img
{
    opacity: 0.1;
    width:150px;
    height:150px;
}

.buttondiv
{
    margin-bottom:20px;
}
