#course_table{
	width: 1145px;
	margin-bottom: auto;
}

#first_table{
	float: left;
    border-right: 1px solid #dfdfdf;
    border-collapse: collapse;
    margin-right: 50px;
    margin-left: 50px;
}

table th{
	height: 45px;
	vertical-align: middle;
	background-color: #8bcbe3;
	color: white;
	border-bottom: 3px solid #dfdfdf;
	text-align: center;
}

table td{
	height: 40px;
	vertical-align: middle;
	padding: 0px;
	background-color: #edf7fa;
	text-align: center;
}
.course{
	width: 310px;
	border-right: 2px solid #dfdfdf;
}

.coursenum{
	width: 70px;
}

table tr td{
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

td:last-child{
	border-right: none;
}

tr:nth-child(odd) td{
	background-color: white;
}

#first_table th:first-of-type{
	border-radius: 3px 0px 0px 0px;
}

#title
{
    color: #ffffff;
}