.footer{
    cursor: default;
    color: white;
    font-size: 10pt;
    text-align: center;
    background-color: rgba($color: #535353, $alpha: 0.6);
    padding-bottom: 12px;
    overflow: visible;
}