.footer{
    cursor: default;
    color: white;
    font-size: 10pt;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgba($color: #535353, $alpha: 0.6);
    font-size: 13pt;
    display: grid;

    overflow: auto;
    .footerCenter{
        grid-column: 4/5;
    }
    .contact{
        cursor: pointer;
        grid-column: 7/8;
        font-size: 15pt;
        background-color: yellowgreen;
        font-weight: bold;
        float: right;
        padding-bottom: 5px;

    }
}