@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

#nimg{
    float:right;
}

#h1{
    font-family: 'Economica', sans-serif;
    font-size: 35pt;
    text-align: center;
    color : aliceblue;
}



.table {
    font-family: "Nanum Gothic", sans-serif;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    color: #D1DDDB;
    background-color: #353C42;

}
.table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #85B8CB;
    border-bottom: 3px solid #1D6A96;
}
.table tbody th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
.table td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
.bell{
    transition-duration: 0.5s;
}
.bell:hover{
  transform-origin: top;
  animation: bell 2s infinite linear;
}

@keyframes bell{
  0%, 50%{
        transform: rotate(0deg);
    }
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(13deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-13deg);
  }
}

.npopup{
  font-family: 'Economica', sans-serif;
  background-color: #353C42;
  position: relative;
  width: 30vw;
  margin-right: 0;
  margin-left: 20%;

}

input[type = "text"]{
  background-color: aliceblue;
  font-size:2vh;
  height: 3vh;
}

.ntext{
  background-color: aliceblue;
  width: 94%;
  border-radius: 5px;
  margin: 10px;
}

.npopup .popup_inner {
  text-align: center;
}



  .nbutton{
    background:#353C42;
    color:#fff;
    border:none;
    position:relative;
    height:5vh;
    width:19vw;
    font-size:1.2vw;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .nbutton:hover{
    background:#353C42;
    color:#85B8CB;
  }
  .nbutton:before,.nbutton:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #85B8CB;
    transition:400ms ease all;
  }
  .nbutton:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .nbutton:hover:before,.nbutton:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.ntable{
      font-family: 'Economica', sans-serif;
      font-size: 20pt;
}

.Modal{
  word-wrap: break-word;
  padding: 10px;
  background-color: aliceblue;
}